doctype html
html
  head
    title Jeopardy
    link(rel="stylesheet", href="/stylesheets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/css/style.css")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
  body
    .container
      block content

